<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'CSS/home.css'%}">
</head>
<body>
    <h1>SECOND WIFE</h1>
    <div class="navbar">
        <div class="logo"><h2>SW</h2></div>
        <div class="menuright">
            <span onclick="myonclickfunction()">&#9776;</span>
            <ul id="menu">
                <li><a href="http://localhost:8000/order/">ORDER</a></li>
                <li><a href="http://localhost:8000/menu/">MENUS</a></li>
                <li><a href="http://localhost:8000/reservation/">RESERVATION</a></li>
                <li><a href="http://localhost:8000/menu/#drink">DRINKS</a></li>
                <li><a href="http://localhost:8000/parties/">PARTIES</a></li>
                <li><a href="http://localhost:8000/contact/">CONTACT</a></li>
            </ul>
        </div>
    </div>
<hr>
    <div id="order">
        <div class="sectioncontainer">
            <div class="column image" style="background-image:url({%static 'img/h1.jpg' %})">
                &nbsp;
            </div> 
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Order Now</h1><br><br>
                    <a href="http://localhost:8000/order/" class="order1">Order</a>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    <div id="gallery">
            <div id="slide-track">
                
                <div id="slide">
                    <img src="{%static 'img/g1.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g2.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g3.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g4.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g5.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g6.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g7.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g8.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g9.jpg'%}" alt="">
                </div><div id="slide">
                    <img src="{%static 'img/g.jpg'%}" alt="">
                </div>
    
                <!-- Same image double--->
                <div id="slide">
                    <img src="{%static 'img/g1.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g2.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g3.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g4.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g5.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g6.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g7.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g8.jpg'%}" alt="">
                </div>
                <div id="slide">
                    <img src="{%static 'img/g9.jpg'%}" alt="">
                </div><div id="slide">
                    <img src="{%static 'img/g.jpg'%}" alt="">
                </div>
    
            </div>
    </div>
<hr>
    <div id="order">
        <div class="sectioncontainer">
            
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Hungry yet?</h1>
                    <h2>Check Our Menu</h2>
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, earum!</h3>
                    <a href="http://localhost:8000/menu/">View Menu</a>
                </div>
            </div>
            <div class="column image" style="background-image:url({%static 'img/h2.jpg' %})">
                &nbsp;
            </div>
        </div>
    </div>

    <div id="order">
        <div class="sectioncontainer">
            <div class="column image" style="background-image:url({%static 'img/h3.jpg' %})">
                &nbsp;
            </div>
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Ready To Come Try It?</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eaque nam dolorem accusantium. Magni, dolor.</h3>
                    <a href="http://localhost:8000/reservation/">Reserve a Spot</a>
                </div>
            </div>
        </div>
    </div>

    <div class="order">
        <div class="sectioncontainer">
            
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Planning a Party?</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia enim sit inventore delectus at ab voluptatem est dolorum excepturi sunt.</h3>
                    <a href="http://localhost:8000/HTML/parties/">Book Now</a>
                </div>
            </div>
            <div class="column image" style="background-image:url({%static 'img/h4.jpg' %})">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="order">
        <div class="sectioncontainer">
            <div class="column image" style="background-image:url({%static 'img/h5.jpg' %})">
                &nbsp;
            </div>
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Our Story</h1>           
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus numquam soluta sequi ut recusandae quas, quos quia omnis laboriosam harum vel cumque fugiat aliquid consequatur? Dignissimos, ullam harum incidunt recusandae ad asperiores blanditiis suscipit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque vitae omnis illum numquam qui aperiam repudiandae fugit recusandae pariatur excepturi!</h4>
                </div>
            </div>
        </div>
    </div>
<hr>
<div id="footer">
    <div id="order">
        <div class="sectioncontainer">
            <div class="column content">
                <div class="contentcontainer">
                    <h1>Contact Info</h1>
                    <h3>Email:abcdefgh@gmail.com</h3>
                    <h3>Address:107,Vip Road ,Kolkata</h3>
                </div> 
            </div>
            <div class="column content">
                <div class="contentcontainer">
                    <h1>We're Open</h1>
                    <h3>Monday-Sunday:4pm-2am</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myonclickfunction()
    {
        var x = document.getElementById("menu");

        if(x.style.display== "block")
        {
            x.style.display = "none";
        }
        else{
            x.style.display = "block";
        }

    }
</script>    
</body>
</html>