<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'CSS/login1.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo"><h2>Sw</h2></div>
        <div class="menuright">
            <span onclick="myonclickfunction()">&#9776;</span>
            <ul id="menu">
                <li><a href="http://localhost:8000/">HOME</a></li>
                <li><a href="http://localhost:8000/order/">ORDER</a></li>
            </ul>
        </div>
    </div>
    div.
</body>
</html>