<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'CSS/order.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar">
        <a href="http://localhost:8000/aero/restaurant/"><h2>Second Wife</h2></a>
        <a href="http://localhost:8000/aero/cart/">
            <div class="cart">
                <i class="bi bi-cart2"></i>
                <div id="cartamount" class="cartamount">0</div>
            </div>
        </a>
    </div>

    <div class="shop" id="shop">
        
    </div>
</body>
<script src="{%static 'javascript/menudata.js'%}"></script>
<script src="{%static 'javascript/order.js'%}"></script>
</html>