<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'CSS/contactus.css'%}">
    <title>Reservation</title>
</head>
<body>
    <div class="navbar">
        <div class="logo"><h2>Sw</h2></div>
        <div class="menuright">
            <span onclick="myonclickfunction()">&#9776;</span>
            <ul id="menu">
                <li><a href="http://localhost:8000/">HOME</a></li>
                <li><a href="http://localhost:8000/order/">ORDER</a></li>
            </ul>
        </div>
    </div>
<!---

    <div class="main">
        <div class="contact">
            <h2>
                Find a Table
            </h2>
            <form id="contact" method="post">
                <input type="number" name="peoplenumber" id="name" placeholder="Enter Number of People">
                <br>
                <input type="date" name="date" id="name">
                <br>
                <input type="time" name="starttime" id="name">
                <br><br>
                <input type="submit" value="Find a Table" name="findtable" id="submit">
            </form>
        </div>
    </div>
-->    
    <div class="main">
        <div class="contact">
            <h2>Your Details</h2>
            <form id="contact" method="post">
                <label>First Name : </label>
                <br>
                <input type="text" name="fname" id="name" placeholder="Enter Your First Name">
                <br><br>
                <label>Last Name : </label>
                <br>
                <input type="text" name="lname" id="name" placeholder="Enter Your Last Name">
                <br><br>
                <label>Number of People : </label>
                <br>
                <input type="number" name="peoplenumber" id="name" placeholder="Enter Number of People">
                <br><br>
                <label >Date</label>
                <br>
                <input type="date" name="date" id="name">
                <br><br>
                <label >Time</label>
                <br>
                <input type="time" name="starttime" id="name">
                <br><br>
                <label>Phone Number : </label>
                <br>
                <input type="number" name="pname" id="name" placeholder="Enter Your Phone Number">
                <br><br>
                <label>Email Address : </label>
                <br>
                <input type="email" name="email" id="name" placeholder="Enter Your Valid Email Address">
                <br><br>
                <input type="submit" value="Reserve a Table" name="submit" id="submit">
            </form>
        </div>
    </div>
    <script>
        function myonclickfunction()
        {
            var x = document.getElementById("menu");

            if(x.style.display== "block")
            {
                x.style.display = "none";
            }
            else{
                x.style.display = "block";
            }

        }
    </script>
</body>
</html>